<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.project.mapper.CartProductMapper">

	<resultMap type = "com.kosa.project.domain.CartProductVO" id = "cartProductMap">
		<id column = "cp.id" property="idx" />
		<result column="cp.amount1" property="amount"/>
		<association property="cart" resultMap="cartMap"/>
		<association property="product" resultMap="productMap"/>
	
	</resultMap>
	
	<resultMap type = "com.kosa.project.domain.CartVO" id ="cartMap">
		<id column = "c.id" property="idx"/>
		<association property="member" resultMap="memberMap"/>
	</resultMap>
	
	<resultMap type="com.kosa.project.domain.MemberVO"
		id="memberMap">
		<id column="m.id" property="idx" />
		<result column="m.loginId" property="loginId" />
		<result column="m.password" property="password" />
		<result column="m.name" property="name" />
		<result column="m.email" property="email" />
		<result column="m.phone" property="phone" />
		<result column="m.birth" property="birth" />
	</resultMap>
	
	<resultMap type="com.kosa.project.domain.ProductVO" id="productMap">
		<id column="p.id" property="idx" />
		<result column="p.name1" property="name"/>
		<result column="p.price1" property="price"/>
		<association property="category" resultMap="categoryMap"/>
		<association property="brand" resultMap="brandMap"/>
	</resultMap>
	
	<resultMap type="com.kosa.project.domain.CategoryVO" id="categoryMap">
		<id column="c.id" property="idx"/>
		<result column="c.name1" property="name"/>
	</resultMap>
	
	<resultMap type="com.kosa.project.domain.BrandVO" id="brandMap">
		<id column="b.id" property="idx"/>
		<result column="b.name1" property="name"/>
		<result column="PHONE" property="phone"/>
		<result column="MANAGER" property="manager"/>
	</resultMap>
	
	
	<!-- 장바구니 상품 리스트 -->
	<select id="getList" parameterType="int" resultMap="cartProductMap"> 
		SELECT 
		cp.idx as "cp.id", p.name as "p.name1", cp.amount as "cp.amount1", p.price as "p.price1"
		FROM product p, cart_product cp
		WHERE p.idx = cp.idx 
		AND cp.cart_idx = #{idx}
	</select>


	<!-- 장바구니 담기 -->
	<insert id="addProduct" parameterType="com.kosa.project.domain.CartProductVO">
		<selectKey keyProperty = "idx" resultType = "int" order = "BEFORE">
			SELECT cart_product_seq.nextval FROM DUAL		
		</selectKey>
		INSERT INTO cart_product 
		<!-- (idx, cart_idx, product_idx, amount)  -->
		VALUES (
		#{idx},
		<!-- #{cart.idx} -->1,
		#{product.idx},
		<!-- #{amount} -->1)
	</insert>



	<!-- 장바구니 상품 삭제 -->
	<delete id="delete">
		delete from cart_product where idx = #{idx}
	</delete>
	
	<!-- 상품 수량 변경 -->
	<update id="update">
		update cart_product set amount = #{amount}
		where idx = #{idx}
	</update>

	<select id="read"
		resultType="com.kosa.project.domain.CartProductVO">
		select * from cart_product where idx = #{idx}
	</select>
</mapper>