<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.project.mapper.DeliveryMapper">

<resultMap id="deliveryMap" type="com.kosa.project.domain.DeliveryVO">
	<id column = "idx" property = "idx"/>
	<result column = "address_name" property = "addressName"/>
	<result column = "delivery_name" property = "deliveryName"/>
	<result column = "address" property = "address"/>
	<result column = "delivery_phone" property = "deliveryPhone"/>
	<result column = "delivery_request" property = "deliveryRequest"/>
	<association property="member" resultMap="memberMap" />
</resultMap>

<resultMap id="memberMap" type="com.kosa.project.domain.MemberVO">
	<id column="idx" property="idx" />
	<result column="login_id" property="loginId" />
</resultMap>

<insert id = "insert" parameterType="com.kosa.project.domain.DeliveryVO">
	insert into delivery(idx, member_idx, address_name, delivery_name, address, delivery_phone, delivery_request)
	values(delivery_seq.nextval,#{member.idx},#{addressName},#{deliveryName},#{address},#{deliveryPhone},#{deliveryRequest})
</insert>

<select id = "read" resultMap = "deliveryMap" parameterType="int">
	select * from delivery where idx = #{idx}
</select>

<delete id="delete" parameterType = "int">
	delete from delivery where idx=#{idx}
</delete>

<update id="update" parameterType="com.kosa.project.domain.DeliveryVO">
	update delivery
	address_name = #{addressName},
	delivery_name = #{deliveryName},
	address = #{address},
	delivery_phone = #{deliveryPhone},
	delivery_request = #{deliveryRequest}
	where idx = #{idx}
</update>

<select id="getList" resultMap = "deliveryMap">
	select *
	from member m, delivery d
	where m.idx = d.member_idx
</select>
</mapper>