<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.project.mapper.OrderMapper">

	<!-- orderMap -->
	<resultMap type="com.kosa.project.domain.OrderVO" id="orderMap">
		<id column="o.id" property="idx" />
		<result column="price" property="price" />
		<result column="delivery_price" property="deliveryPrice" />
		<result column="payment" property="payment" />
		<result column="regdate" property="state" />
		<result column="delivery_name" property="deliveryName" />
		<result column="address_name" property="addressName" />
		<result column="address" property="address" />
		<result column="delivery_request" property="deliveryRequest" />
		<collection property="cart" resultMap="cartMap" />
		<collection property="cartProduct" resultMap="cartProductMap" />
	</resultMap>

	<!-- cartMap -->
	<resultMap type="com.kosa.project.domain.CartVO" id="cartMap">
		<id column="c.id" property="idx" />
	</resultMap>

	<!-- cartProductMap --> 
	<resultMap type="com.kosa.project.domain.CartProductVO" id="cartProductMap">
		<id column= "p.id" property="idx" />
	</resultMap>

	<!-- findOrderByIdx -->
	<select id="findOrderByIdx" resultMap="orderMap">
		SELECT o.idx as "o.id", price, delivery_price, payment, regdate, delivery_name, address_name,
		address, delivery_request, c.idx as "c.id", p.idx as "p.id"
		FROM order2 o, cart c, cart_product p
		WHERE o.cart_idx = c.idx AND c.idx = p.cart_idx
		AND o.idx = #{idx}
	</select>

	<!-- findOrderByMemberIdx -->
	<select id="findOrderByMemberIdx" resultMap="orderMap">
		SELECT o.idx as "o.id", price, delivery_price, payment, regdate, delivery_name, address_name,
		address, delivery_request, c.idx as "c.id", p.idx as "p.id"
		FROM order2 o, cart c, cart_product p
		WHERE o.cart_idx = c.idx AND c.idx = p.cart_idx
		AND c.member_idx = #{memberIdx}
	</select>



	<!-- 주문내역에 보여질 정보들 : 주문자정보, 카트상품정보 -->
	<select id="getcartList" parameterType="int" resultMap="orderMap">
		select
		m.name as name1, m.email , m.phone ,
		p.name as name2, p.price, br.name as name3, cp.amount
		from cart c, cart_product cp, product p, brand br, member m
		where c.idx = cp.cart_idx
		and c.member_idx = m.idx
		and cp.product_idx = p.idx
		and p.brand_idx=br.idx
		and c.idx=#{idx}
	</select>
	
	<!-- 주문상품리스트 -->
	<select id="orderProductList" parameterType="int" resultMap="orderMap">
		select p.name 
        from order2 o, cart c, cart_product cp, product p
        where o.cart_idx = c.idx 
        and c.idx = cp.cart_idx 
        and cp.product_idx =p.idx
        and o.idx=(SELECT MAX(idx)
                  FROM order2)
	</select>

	<insert id="insert" parameterType="map" useGeneratedKeys="true"
		keyProperty="idx" keyColumn="idx">
		<selectKey keyProperty="idx" resultType="int" order="BEFORE">
			SELECT order2_seq.nextval FROM DUAL
		</selectKey>
		insert into order2 (idx, member_idx, cart_idx, payment, price,
		delivery_price, regdate, delivery_name, address_name, address, delivery_request)
		values(#{idx},#{memberIdx},#{cartIdx},#{payment},#{totalPrice},#{dilPrice},sysdate,#{dilName}, #{dilPlace},#{dilAddress},#{dilSelect} )

	</insert>

	<select id="read" parameterType="int" resultMap="orderMap">
		SELECT
		m.name as name1, m.email , m.phone ,
		p.name as name2, p.price, br.name as name3, cp.amount
		FROM order2 o, cart c, cart_product cp, product p
		WHERE idx = #{idx}
	</select>

	<!-- 총상품금액, 배송비, 총결제금액 계산하기 이건 굳이 여기서 안해도 된다고 함 -->
	<!-- <select id="read" parameterType="int" resultMap="orderMap">
		
	  <![CDATA[
	    SELECT m.idx, sum(p.price) AS sum_price, sum(cp.amount) AS sum_amount
	    FROM cart c
	    JOIN cart_product cp ON c.idx = cp.cart_idx
	    JOIN product p ON cp.product_idx = p.idx
	    JOIN member m ON c.member_idx = m.idx
	    WHERE m.idx = #{idx}
	    GROUP BY m.idx
	  ]]>
	</select> -->
	
	<!-- 구매 후 주문한 리스트에 보여질 정보들 : 제품정보, 날짜 -->
	
	<!-- member, cart안의 cart_product안의 product --> 
	<select id="getOrderList" parameterType = "int" resultMap="orderMap">
	select m.idx as "m.idx", p.name as "p.name", p.price as "p.price", p.image_url as "p.image_url", cp.amount as "cp.amount"
	from order2 o, cart c,  member m , cart_product cp, product p
	where o.cart_idx = c.idx
	and c.member_idx = m.idx
	and cp.cart_idx = c.idx 
	and cp.product_idx = p.idx
	and m.idx= #{idx}
	</select>
</mapper>