<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.project.mapper.OrderMapper">

	<resultMap type="com.kosa.project.domain.OrderVO"
		id="orderMap">
		<id column="idx" property="idx" />
		<result column="price" property="price" />
		<result column="delivery_price" property="deliveryPrice" />
		<result column="payment" property="payment" />
		<result column="regdate" property="state" />
		<result column="delivery_name" property="deliveryName" />
		<result column="address_name" property="addressName" />
		<result column="address" property="address" />
		<result column="delivery_request" property="deliveryRequest" />
		<collection property="member" resultMap="memberMap" />
		<collection property="cart" resultMap="cartMap" />
		<collection property="cartProduct"
			resultMap="cartProductMap" />
	</resultMap>
	
	<resultMap type="com.kosa.project.domain.MemberVO"
		id="memberMap">
		<id column="idx" property="idx" />
		<result column="login_id" property="loginId" />
		<result column="password" property="password" />
		<result column="name1" property="name" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="birth" property="birth" />
	</resultMap>

	<resultMap type="com.kosa.project.domain.CartVO" id="cartMap">
		<id column="c.idx" property="idx" />
		<collection property="member" resultMap="memberMap" />
	</resultMap>


	<resultMap type="com.kosa.project.domain.CartProductVO"
		id="cartProductMap">
		<id column="idx" property="idx" />
		<result column="amount" property="amount" />
		 <result property="sumAmount" column="sum_amount" />
		<collection property="cart" resultMap="cartMap" />
		<collection property="product" resultMap="productMap" />
	</resultMap>

	<resultMap type="com.kosa.project.domain.ProductVO"
		id="productMap">
		<id column="idx" property="idx" />
		<result column="name2" property="name" />
		<result column="price" property="price" />
		 <result property="sumPrice" column="sum_price" />
		
		<association property="category" resultMap="categoryMap" />
		<association property="brand" resultMap="brandMap" />
		
	</resultMap>

	<resultMap type="com.kosa.project.domain.CategoryVO"
		id="categoryMap">
		<id column="idx" property="idx" />
		<result column="name" property="name" />
	</resultMap>

	<resultMap type="com.kosa.project.domain.BrandVO"
		id="brandMap">
		<id column="idx" property="idx" />
		<result column="name3" property="name" />
		<result column="phone" property="phone" />
		<result column="manager" property="manager" />
	</resultMap> 
	
	
	

	<!-- 주문내역에 보여질 정보들 : 주문자정보, 카트상품정보 -->

	<select id="getcartList" parameterType="int" resultMap="orderMap">
		select
		m.name as name1, m.email , m.phone ,
		p.name as name2, p.price, br.name as name3, cp.amount
		from cart c, cart_product cp, product p, brand br, member m
		where c.idx = cp.cart_idx
		and c.member_idx = m.idx
		and cp.product_idx = p.idx
		and p.brand_idx=br.idx
		and c.idx=#{idx}
	</select>
	
	<!-- 주문상품리스트 -->
	<select id="orderProductList" parameterType="int" resultMap="orderMap">
		select p.name 
        from order2 o, cart c, cart_product cp, product p
        where o.cart_idx = c.idx 
        and c.idx = cp.cart_idx 
        and cp.product_idx =p.idx
        and o.idx=(SELECT MAX(idx)
                  FROM order2)
	</select>

	<insert id="insert" parameterType="map">
		insert into order2 (idx, member_idx, cart_idx, payment, price,
		delivery_price, regdate, delivery_name, address_name, address, delivery_request)
		values(order2_seq.nextval,	#{memberIdx},#{cartIdx},#{payment},#{totalPrice},#{dilPrice},sysdate,#{dilName}, #{dilPlace},#{dilAddress},#{dilSelect} )

	</insert>

	<select id="read" parameterType="int" resultMap="orderMap">
		SELECT * FROM
		(SELECT * FROM order2 ORDER BY regdate DESC)
		WHERE ROWNUM= 1
	</select>

	<select id="getcartList" parameterType="int" resultMap="orderMap"> 
	select 
		m.name as name1, m.email , m.phone , 
		p.name as name2, p.price, br.name as name3, cp.amount 
		from cart c, cart_product cp, product p, brand br, member m 
		where c.idx = cp.cart_idx 
		and c.member_idx = m.idx 
		and cp.product_idx = p.idx 
		and p.brand_idx=br.idx 
		and m.idx=#{idx} 
	</select> 

	<!-- 총상품금액, 배송비, 총결제금액 계산하기 이건 굳이 여기서 안해도 된다고 함 -->
	<!-- <select id="read" parameterType="int" resultMap="orderMap">
		
	  <![CDATA[
	    SELECT m.idx, sum(p.price) AS sum_price, sum(cp.amount) AS sum_amount
	    FROM cart c
	    JOIN cart_product cp ON c.idx = cp.cart_idx
	    JOIN product p ON cp.product_idx = p.idx
	    JOIN member m ON c.member_idx = m.idx
	    WHERE m.idx = #{idx}
	    GROUP BY m.idx
	  ]]>
	</select> -->
	
	<!-- 구매 후 주문한 리스트에 보여질 정보들 : 제품정보, 날짜 -->
	
	<!-- member, cart안의 cart_product안의 product --> 
	<select id="getOrderList" parameterType = "int" resultMap="orderMap">
	select m.idx as "m.idx", p.name as "p.name", p.price as "p.price", p.image_url as "p.image_url", cp.amount as "cp.amount"
	from order2 o, cart c,  member m , cart_product cp, product p
	where o.cart_idx = c.idx
	and c.member_idx = m.idx
	and cp.cart_idx = c.idx 
	and cp.product_idx = p.idx
	and m.idx= #{idx}
	</select>



</mapper>