<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.project.mapper.ProductMapper">

	<resultMap type="com.kosa.project.domain.ProductVO" id="productMap">
		<id column="p.id" property="idx" />
		<result column="p.name1" property="name"/>
		<result column="p.price1" property="price"/>
		<association property="category" resultMap="categoryMap"/>
		<association property="brand" resultMap="brandMap"/>
	</resultMap>
	
	<resultMap type="com.kosa.project.domain.CategoryVO" id="categoryMap">
		<id column="c.id" property="idx"/>
		<result column="c.name1" property="name"/>
	</resultMap>
	
	<resultMap type="com.kosa.project.domain.BrandVO" id="brandMap">
		<id column="b.id" property="idx"/>
		<result column="b.name1" property="name"/>
		<result column="PHONE" property="phone"/>
		<result column="MANAGER" property="manager"/>
	</resultMap>
	
	
	<!-- 상품 상세정보 -->
	<select id="getProduct" parameterType="int" resultMap="productMap"> 
		 SELECT 
		p.idx as "p.id",c.idx as "c.id", b.idx as "b.id",
		p.name as "p.name1", b.name as "b.name1", c.name as "c.name1",
		p.price as "p.price1" FROM product p, category c, brand b
		WHERE p.category_idx=c.idx and b.idx=p.brand_idx 
		AND p.idx = #{idx}
	</select>
	
	<select id="getProductList" parameterType="java.util.HashMap" resultType="com.kosa.project.domain.ProductVO">
	<![CDATA[
		SELECT idx, name, image_URL as "imageURL" 
			FROM(
				SELECT rownum rw, idx, name, image_URL
					FROM product
					WHERE rownum <= #{pageNum}* #{amount}]]>
					
					<trim prefix="AND">
						<if test="cateNumber != 0">
						category_idx = #{cateNumber}
						</if>
					</trim>					
					)
			<![CDATA[
			WHERE rw > (#{pageNum}-1)* #{amount}
	]]>
	</select>
	
	<select id="getTotalCnt" resultType="int">
        SELECT count(*) 
        FROM product 
       	WHERE idx > 0
        	<trim prefix="AND">
        		<if test="value != 0">
					category_idx = #{cateNumber}
				</if>
        	</trim>
    </select>
	
	<!-- 리뷰리스트 매핑 -->
	<resultMap type="com.kosa.project.domain.ScoreVO" id="scoreMap">
		<id column="c.id" property="idx"/>
		<result column="durability" property="durability"/>
		<result column="design" property="design"/>
		<result column="delivery" property="delivery"/>
		<result column="price" property="price"/>
		<association property="review" resultMap="reviewMap"/>
	</resultMap>
	
	
	<resultMap type="com.kosa.project.domain.ReviewVO" id="reviewMap">
		<id column="r.id" property="idx" />
		<result column="content" property="content"/>
		<result column="r.image" property="image"/>
		<collection property="product" resultMap="productMap"/>
		<collection property="member" resultMap="memberMap"/>
	</resultMap>
	

	
	<resultMap type="com.kosa.project.domain.MemberVO" id="memberMap">
		<id column="m.id" property="idx"/>
		<result column="loginId" property="loginId"/>
		<result column="password" property="password"/>
		<result column="m.name" property="name"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="birth" property="birth"/>
	</resultMap>
	
	<!-- 리뷰전체 리스트 -->
	<select id="getReviewList" resultMap="scoreMap" parameterType="int">
	select 
		p.name as "p.name1",
		m.name as "m.name",
		s.durability,
		s.price,
		s.design,
		s.delivery,
		r.image as "r.image",
		r.content 
			FROM review r 
				LEFT OUTER JOIN score s 
				ON r.idx=review_idx 
				LEFT OUTER JOIN member m
				ON m.idx=r.member_idx
				LEFT OUTER JOIN product p
				ON r.product_idx=p.idx
					WHERE p.idx=#{product_idx} 
						ORDER BY r.idx desc
	</select>
	
	<select id="getTotalReviewList" resultType="int">
		select count(*) from review where product_idx=#{product_idx}
	</select>

	
</mapper>