<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.project.mapper.ProductMapper">

	<resultMap type="com.kosa.project.domain.ProductVO" id="productMap">
		<id column="idx" property="idx" />
		<result column="name" property="name"/>
		<result column="price" property="price"/>
		<association property="category" resultMap="categoryMap"/>
		<association property="brand" resultMap="brandMap"/>
	</resultMap>
	
	<resultMap type="com.kosa.project.domain.CategoryVO" id="categoryMap">
		<result column="idx" property="idx"/>
		<result column="name" property="name"/>
	</resultMap>
	
	<resultMap type="com.kosa.project.domain.BrandVO" id="brandMap">
		<result column="idx" property="idx"/>
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="manager" property="manager"/>
	</resultMap>
	
	<select id="getProduct" parameterType="int" resultMap="productMap"> 
		SELECT * FROM product p, category c, brand b
		WHERE p.category_idx=c.idx and b.idx=p.brand_idx 
		AND p.idx = #{idx}
	</select>

	<select id="getProductList" resultType="com.kosa.project.domain.ProductVO">
		SELECT * FROM product
			<where>
				<if test="value != null and value != 0">
					category_idx = #{category}
				</if>
			</where>
	</select>
	
</mapper>