<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.project.mapper.ReviewMapper">

	<resultMap type="com.kosa.project.domain.ScoreVO" id="scoreMap">
		<id property="idx" column="s.idx"/>
		<result property="idx" column="s.idx"/>
		<result property="durability" column="s.durability"/>
		<result property="design" column="s.design"/>
		<result property="price" column="s.price"/>
		<result property="delivery" column="s.delivery"/>
		<association property="review" resultMap="reviewMap" />
	</resultMap>

	<resultMap type="com.kosa.project.domain.ReviewVO" id="reviewMap">
		<result property="idx" column="r.idx"/>
		<result property="content" column="content"/>
		<association property="member" resultMap="memberMap"/>
		<association property="product" resultMap="productMap"/>
		<association property="order" resultMap="orderMap"/>	
	</resultMap>

	<resultMap type="com.kosa.project.domain.MemberVO" id="memberMap">
		<result property="idx" column="m.idx"/>
		<result property="name" column="m.name" />
	</resultMap>
	
	<resultMap type="com.kosa.project.domain.ProductVO" id="productMap">
		<result property="idx" column="p.idx"/>
		<result property="name" column="p.name"/>
		<result property="imageURL" column="p.imageURL"/>
	</resultMap>
	
	<resultMap type="com.kosa.project.domain.OrderVO" id="orderMap">
		<result property="idx" column="o.idx"/>
	</resultMap>

	
	<insert id="insertReview"> 
		INSERT INTO review
    		VALUES(review_seq.nextval, #{member_idx}, #{product_idx}, #{order_idx}, #{content}, null)
   		
	</insert>
	
	<insert id="insertScore"> 
		<selectKey keyProperty="review_idx" resultType="Integer" order="BEFORE">
    		SELECT review_seq.currval FROM DUAL
    	</selectKey>
		INSERT INTO score
    		VALUES(score_seq.nextval, #{review_idx}, #{durability}, #{price}, #{design}, #{delivery})
	</insert>
	
	<select id="getMemberReviewList" resultMap="scoreMap">
		SELECT r.idx AS "r.idx", m.idx AS "m.idx", p.idx AS "p.idx", o.idx AS "o.idx", s.idx AS "s.idx", 
				content, p.name AS "p.name", p.price AS "p.price", p.image_URL AS "p.imageURL",
				s.durability AS "s.durability", s.design AS "s.design", s.price AS "s.price", s.delivery AS "s.delivery"
			FROM score s, review r, member m, product p, order2 o
				WHERE 
					m.idx = r.member_idx AND p.idx = r.product_idx AND o.idx = r.order_idx AND r.idx = s.review_idx 
					AND m.idx = #{review.member.idx}
	</select>
	
	<select id="get" resultMap="scoreMap">
		SELECT r.idx AS "r.idx", m.idx AS "m.idx", p.idx AS "p.idx", o.idx AS "o.idx", s.idx AS "s.idx", 
				content, p.name AS "p.name", p.price AS "p.price", p.image_URL AS "p.imageURL",
				s.durability AS "s.durability", s.design AS "s.design", s.price AS "s.price", s.delivery AS "s.delivery"
			FROM score s, review r, member m, product p, order2 o
				WHERE 
					m.idx = r.member_idx AND p.idx = r.product_idx AND o.idx = r.order_idx AND r.idx = s.review_idx 
					AND r.idx = #{reviewIdx}
	</select>
	
	<update id="updateReview">
		UPDATE review 
			SET content = #{content} 
				WHERE idx = #{reviewIdx}
	</update>

	<update id="updateScore">
		UPDATE score 
			SET durability = #{durability}, design = #{design}, price = #{price}, delivery = #{delivery} 
				WHERE idx = #{reviewIdx}
	</update>


	<delete id="deleteReview">
		DELETE FROM review 
			WHERE idx = #{idx} 
	</delete>
	
	<delete id="deleteScore">
		DELETE FROM score
			WHERE idx = #{idx}
	</delete>
</mapper>